/* Minnor resets */
ul { margin: 0; }

/* Util */
.replacement {
  text-indent: -999px;
  overflow: hidden;
 }

/* Fixed layout */
.container {
  width: 1230px;
}

/* Menu */
body {
  padding-top: 50px; /* fixed navbar */
}

.main-header {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

/* Navigation Bar */
.navbar ul {
  list-style: none;
  float: right;
  margin-right: 10px;
  height: 50px;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
}

.textshadow .navbar li a {
  text-shadow: 0 0 1px rgb(0, 0, 0);
}

.textshadow .navbar li a:hover,
.textshadow .navbar .active a {
  text-shadow: none;
}

.main-header .navbar {
  background-color: rgb(215, 62, 29);
  font-size: 17px;
}

.boxshadow .main-header .navbar {
  -webkit-box-shadow:  0px 0px 10px 1px rgb(0,0,0);
  box-shadow:  0px 0px 10px 1px rgb(0,0,0);
}

.main-header .navbar .active,
.main-header .navbar li:hover {
  background-image: url("../img/white-nipple-down.png");
  background-repeat: no-repeat;
  background-position: center 50px;
  padding-bottom: 9px;
}

.main-header .navbar li:hover a,
.main-header .navbar .active a {
  background-color: rgb(255, 255, 255);
  color: rgb(215, 62, 29);
}

/* Footer */
.main-footer {
  background: url("../img/noisy-background-2.png");
  padding-bottom: 80px;
  color: white;
}

.footer-info h1 {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 30px;
  padding-left: 10px;
  margin: 0 0 20px 30px;
  background: url("../img/noisy-background.png");
}

.footer-info .news {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  list-style: none;
  margin-left: 30px;
}

.footer-info .news li {
  border-bottom: 1px solid rgb(51, 51, 51);
}

.footer-info .news li:last-child {
  border: none;
}

.footer-info .news li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin: 15px 0;
  color: white;
}

.footer-info .see-more {
  font-family: Georgia, Helvetiva, Arial, sans-serif;
  font-size: 13;
  font-style: italic;
  float: right;
  color: white;
}

.footer-info .supporters {
  list-style: none;
  margin-left: 30px;
}

.footer-info .supporters li {
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}

.footer-info .supporters .last-support-image {
  margin-right: 0;
}

.footer-info .supporters li img {
  height: 85px;
  width: 160px;
  border: 5px solid rgb(38, 38, 38);
}

.main-footer .navigation {
  background: url("../img/noisy-background.png");
  font-size: 15px;
  margin-bottom: 40px;
}

.main-footer .navbar {
  margin-bottom: 0px;
  padding-right: 20px;
}

.main-footer .navbar .active,
.main-footer .navbar li:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

/* Event call */
.event-call {
  padding-top: 20px;
  background: url("../img/ilha-do-recife-edited.jpg") 0 1236px;
  height: 740px;
}

.event-call .call-infos {
  width: 770px;
  margin: 0 auto;
}
.event-call .call-infos h1 {
  background: url("../img/logotipo.png");
  width: 564px;
  height: 238px;
  margin: 0 auto;
}

.event-call .call-infos .subscription {
  background: rgb(255, 255, 255) url("../img/vertical-discs.png") no-repeat 400px 35px;
  padding: 36px 42px;
}

.boxshadow .event-call .call-infos .subscription {
  -webkit-box-shadow:  1px 1px 2px 0px rgb(110, 110, 110);
  box-shadow:  1px 1px 2px 0px rgb(110, 110, 110);
}

.event-call .call-infos .address {
  font-weight: 700;
  color: rgb(215, 62, 29);
  font-size: 24px;
  display: block;
  float: left;
  margin-top: 14px;
}

.event-call .call-infos .subscribe-button {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(81,163,81);
  font-size: 20px;
  padding: 10px 20px;
  float: right;
  background: rgb(98,196,98); /* Old browsers */
}

.event-call .call-infos .subscribe-button:hover {
  background: rgb(81,163,81); /* Old browsers */
}

.textshadow .event-call .call-infos .subscribe-button {
  text-shadow: 0 0 1px rgb(0, 0, 0);
}

.cssgradients .event-call .call-infos .subscribe-button {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyYzQ2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MWEzNTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgb(98,196,98) 0%, rgb(81,163,81) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(98,196,98)), color-stop(100%,rgb(81,163,81))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(98,196,98) 0%,rgb(81,163,81) 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top,  rgb(98,196,98) 0%,rgb(81,163,81) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgb(98,196,98) 0%,rgb(81,163,81) 100%); /* W3C */
}

.cssgradients .event-call .call-infos .subscribe-button:hover {
  background: rgb(81,163,81); /* Old browsers */
}

.event-call .call-infos .date {
  font-weight: 700;
  font-size: 15px;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 15px 60px;
  background-color: rgb(215, 62, 29);
  margin-left: 260px;
}

.textshadow .event-call .call-infos .date {
  text-shadow: 0 0 1px rgb(0, 0, 0);
}

.event-call .call-infos .nipple {
  display: block;
  background: url("../img/red-nipple-up.png") no-repeat center 0;
  width: 284px;
  margin-left: 260px;
  margin-top: -18px;
  height: 17px;
}
